body{
    margin:0;
    padding:0;
    height:100vh;
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(to right,#065666,hsl(336, 84%, 56%));
    display:flex;
    justify-content:center;
    align-items:center;
}

.login-container{
    background:white;
    padding:40px;
    width:350px;
    border-radius:12px;
    box-shadow:0 10px 25px rgba(0,0,0,0.2);
}

.login-container h2{
    text-align:center;
    margin-bottom:25px;
}

.login-container label{
    font-weight:bold;
    font-size:14px;
}

.login-container input{
    width:100%;
    padding:10px;
    margin-top:5px;
    margin-bottom:15px;
    border-radius:6px;
    border:1px solid lab(82.05% 0 -0.01);
    font-size:14px;
}

.login-container button{
    width:100%;
    padding:12px;
    border:none;
    border-radius:6px;
    background:hsl(214, 84%, 56%);
    color:white;
    font-size:16px;
    font-weight:bold;
    cursor:pointer;
}

.login-container button:hover{
    background:hsl(218, 77%, 47%);
}

.register-link{
    text-align:center;
    margin-top:15px;
}

.register-link a{
    color:hsl(214, 89%, 48%);
    text-decoration:none;
    font-weight:bold;
}

.register-link a:hover{
    text-decoration:underline;
}