{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>Bank Management System</title>

<link rel="stylesheet" href="{% static 'style.css' %}">

</head>

<body>

<h1 class="title">BANK MANAGEMENT SYSTEM</h1>

<div class="dashboard">
<a href="{% url 'pin' %}" class="card">
<img src="{% static 'images/PinGeneration.jpeg' %}">
<p>Generate PIN</p>
</a>

<a href="{% url 'checkbalance' %}" class="card">
<img src="{% static 'images/checkbalance.png' %}">
<p>Check Balance</p>
</a>

<a href="{% url 'deposit' %}" class="card">
<img src="{% static 'images/Deposit.jpeg' %}">
<p>Deposit</p>
</a>

<a href="{% url 'withdraw' %}" class="card">
<img src="{% static 'images/Withdraw.png' %}">
<p>Withdraw</p>
</a>

<a href="{% url 'acc_transfer' %}" class="card">
<img src="{% static 'images/accTransfer.png' %}">
<p>Transfer</p>
</a>

<a href="{%url 'history' %}" class="card">
    <img src="{% static 'images/history.png' %}" alt="">
    <p>Transaction History</p>
</a>

</div>
</body>
</html>